# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Test cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Generated encrypted/decrypted files
Encrypted_Files/*
Decrypted_Files/*
Sample_Files/*
Outputs/*

# Keep the folders in Git
!Encrypted_Files/.gitkeep
!Decrypted_Files/.gitkeep
!Sample_Files/.gitkeep

# OS files
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec